.map_page_container {
  height: 100vh;
  width: 100%;
  position: fixed;
}

.map_container {
  height: 100%;
  width: 100%;
}

.map_page_marker_text {
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  padding: 3px;
}

.map_page_marker_text::before {
  content: none;
}

.map_page_v_rooms_list {
  position: absolute;
  bottom: 25px;
  right: 45px;
  display: flex;
  flex-direction: row-reverse;
  z-index: 1000;
}

.map_page_v_rooms_join_button {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  border-radius: 45px;
  background-color: #00ffff;
  font-size: 24px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.map_page_v_rooms_join_button:hover {
  opacity: 0.6;
}

.map_page_v_rooms_join_button:active {
  background-color: black;
}

.map_page_v_rooms_videos_container {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  right: 10px;
  bottom: 150px;
  width: 250px;
  align-items: flex-end;
  z-index: 1000;
}

.map_page_v_rooms_video_container {
  height: 200px;
  width: 250px;
  background-color: black;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.m_page_v_rooms_video_buttons_container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.m_page_v_rooms_video_button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: aqua;
  font-size: 16px;
  border: none;
  transition: 0.3s;
}

.m_page_v_rooms_video_button:hover {
  opacity: 0.6;
}
